@keyframes infiniteScroll {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-100%, 0, 0);
    }
}

.animateInfiniteScroll {
    animation: infiniteScroll 6s linear infinite;
    min-width: 100%;
}
